<!-- <h1 mat-dialog-title>Hi</h1> -->

<div mat-dialog-content style="text-align: center; font-family: Poppins; padding-top: 10%">

    <mat-spinner style="margin:0 auto;"></mat-spinner>
    <!-- <img src="./assets/media/illustrations/table.png" style="display: inline;"> -->
    <h1 style="padding-top: 1em">Generating Roster In Progress...</h1>
    <p>Progress: {{ progress_update }} </p>
</div>
<div mat-dialog-actions style="text-align: center; padding-top: 1em; align-items: center; justify-content: center;">
    <button mat-raised-button color="primary" style="font-family: Poppins;" (click)="stop()">STOP GENERATING</button>
</div>