<br>
<br>
<mat-radio-group aria-label="Select an option" [(ngModel)]="sortingID" (change)="changeOption($event)">
	<mat-radio-button value="2" checked>View by Resources</mat-radio-button>
	<mat-radio-button value="1">View by Services</mat-radio-button>
	<button (click)="downloadXlsx()" mat-button class="btn btn-bold btn-label-brand btn-sm" color="primary" matTooltip="Export to Excel" type="button" aria-labelledby="Export Roster to Excel" style="float: right; margin-right: 16px;"><span>Export Roster to Excel</span></button>
</mat-radio-group>
<br>
<br>
