<div class="row">
        <div class="col-sm-10">
                <p style="font-size:1.8rem; font-weight: 600" *ngIf="selectedModel">{{ selectedModel.model_name }} - {{ selectedModel.model_description_header }}</p>                
        </div> 
        <div  class="col-sm-2">
                <button type="button" class="float-right" mat-raised-button cdkFocusInitial matTooltip="Create Roster" (click)="createRoster(selectedModel.id)" >Create Roster</button>
        </div>
</div>
<kt-portlet>
        <!-- PORTLET LOADING | Binded to TABLE Datasource -->
        <!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
        <kt-portlet-header [title]="'Roster List'" [class]="'kt-portlet__head--lg'" [viewLoading$]="dataSource.loading$">
            <ng-container ktPortletTools>
                <!-- mat-raised-button | Rectangular contained button w/ elevation  -->
            </ng-container>
        </kt-portlet-header>
        <!-- end::Header -->
    
        <!-- start::Body (attribute: ktPortletBody) -->
        <kt-portlet-body>
            <!-- start::FILTERS & GROUP ACTIONS -->
            <div class="kt-form kt-margin-b-30">
                    <!-- start::FILTERS -->
                 <div class="kt-form__filtration">
                    <div class="row align-items-center">
                        <div class="col-md-2 kt-margin-bottom-10-mobile">
                            <mat-form-field class="mat-form-field-fluid">
                                <input matInput [matDatepicker]="scheduleDateInput" #scheduleDateInput placeholder="Roster Schedule Date" (dateChange)="DatepickerInput_Event($event)">
                                <mat-datepicker-toggle matSuffix [for]="scheduleDateInput"></mat-datepicker-toggle>
                                <mat-datepicker #scheduleDateInput></mat-datepicker>                               
                            </mat-form-field>
                        </div>
                        <div class="col-md-2 kt-margin-bottom-10-mobile">
                                <mat-form-field class="mat-form-field-fluid">
                                    <input matInput [matDatepicker]="createDateInput" #createDateInput placeholder="Roster Created Date"  (dateChange)="DatepickerInput_Event($event)">
                                    <mat-datepicker-toggle matSuffix [for]="createDateInput"></mat-datepicker-toggle>
                                    <mat-datepicker #createDateInput></mat-datepicker>                               
                                </mat-form-field>
                        </div> 
                        <div class="col-md-2 kt-margin-bottom-10-mobile">
                                <mat-form-field class="mat-form-field-fluid">
                                        <mat-select placeholder="Roster Created By" #runByInput (selectionChange)="runByInput_event($event)">
                                                <mat-option #runByInput  value=""></mat-option>
                                                <mat-option #runByInput *ngFor="let elem of jobslistResult  | listfilter :'created_by'" [value]="elem.created_by">{{ elem.created_by }}</mat-option>
                                        </mat-select>
                                 </mat-form-field>
                        </div>                                              
                        <div class="col-md-2 kt-margin-bottom-10-mobile">
                                <mat-form-field class="mat-form-field-fluid">
                                    <input matInput placeholder="Search user" #searchInput placeholder="Search">
                                    <mat-hint align="start">
                                        <strong>Search</strong> 'Roster Name' field
                                    </mat-hint>
                                </mat-form-field>
                        </div>
                    </div>
                </div>  
            </div> 

            <!-- end::FILTERS & GROUP ACTIONS -->        
            <div class="mat-table__wrapper  mat-table__wrapper--sub">
                <mat-table class="lmat-elevation-z6"
                    #table
                    [dataSource]="dataSource"                    
                    matSort  
                    #a_sort="matSort"
                    matSortActive="createdAt"
                    matSortDirection="desc"
                    matSortDisableClear>                
    
                    <!-- Table with selection -->                  
                    <ng-container matColumnDef="select" visible=false>
                        <mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                            </mat-checkbox>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" class="mat-column-checkbox">
                            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                            </mat-checkbox>
                        </mat-cell>
                    </ng-container>
    
                    <ng-container matColumnDef="id">
                        <!-- ATTRIBUTE mat-sort-header  for sorting | https://material.angular.io/components/sort/overview -->
                        <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                        <mat-cell *matCellDef="let jobslist">{{jobslist.id}}</mat-cell>
                    </ng-container>
    
                    <ng-container matColumnDef="dataset_scheduledatetime">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Roster Schedule Date</mat-header-cell>
                        <mat-cell [ngStyle]="{'color':selection.isSelected(row) ? 'white': null}"  *matCellDef="let row; let jobslist">{{ jobslist.dataset_scheduledatetime | date: 'dd MMM yyyy h:mm:ss a' }}</mat-cell>
                    </ng-container>
    
                    <ng-container matColumnDef="dataset_name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Roster Name</mat-header-cell>
                                   <mat-cell [ngStyle]="{'color':selection.isSelected(row) ? 'white': null}" *matCellDef="let row; let jobslist">{{ jobslist.dataset_name }}</mat-cell>
                    </ng-container>
    
                    <ng-container matColumnDef="created_by">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Roster Created By</mat-header-cell>
                        <mat-cell [ngStyle]="{'color':selection.isSelected(row) ? 'white': null}"  *matCellDef="let row; let jobslist">{{ jobslist.created_by }}</mat-cell>
                    </ng-container>
    
                    <ng-container matColumnDef="createdAt">
                        <mat-header-cell *matHeaderCellDef  mat-sort-header>Roster Created Date</mat-header-cell>
                        <mat-cell [ngStyle]="{'color':selection.isSelected(row) ? 'white': null}"  *matCellDef="let row; let jobslist">
                            <span>{{ jobslist.createdAt | date: 'dd MMM yyyy h:mm:ss a' }}</span>
                        </mat-cell>
                    </ng-container>    
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    
                    <mat-row *matRowDef="let row; columns: displayedColumns"  [ngClass]="{'highlight': selection.isSelected(row)}"  (click)='$event ? clickRow(row) : null'></mat-row>
                </mat-table>
                <div class="mat-table__message" *ngIf="jobslistResult?.length===0">No records found</div><!-- Message for empty data  -->
                <div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">Please wait....</div>
            </div>
    
            <!-- start: BOTTOM -->
            <div class="mat-table__bottom">
                <!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
                <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
                <!-- MATERIAL PAGINATOR | Binded to dasources -->
                <!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
                <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]" [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
            </div>
            <!-- end: BOTTOM -->
        </kt-portlet-body>
        <!-- end::Body -->
    </kt-portlet>
