<div class="col-xl-12">
        <div class="col-xl-12">
            <div class="kt-constraints-list__container">
                <h2 mat-dialog-title>{{ data.model_name }} Roster Rules</h2>
                <div mat-dialog-content>
                    <div *ngFor="let constraint of optmodelsResult | groupBy:'scoreLeveldescription'">

                        <h3  mat-dialog-title>{{ constraint.key }}</h3>
                        <ul>
                            <li *ngFor="let item of constraint.value">
                                {{ item.constraintName }}
                            </li>
                        </ul>
                    </div> 
                </div>
            </div>
        </div>
</div>
