<mat-dialog-content>
<kt-portlet>
  <kt-portlet-header>
    <ng-container ktPortletTitle>
        <h2 style="font-size:1.8rem; font-weight: 600"><span class="black">{{data.title}}</span></h2>
    </ng-container>
    <ng-container ktPortletTools>
          <button mat-button class="toolbar-button" color="primary" matTooltip="Delete" type="button" [disabled]="!isEditable_linked" aria-labelledby="Delete Selected Records" (click)="removeSelectedRows()">
            <span>Delete Selected Records</span>
            <mat-icon>delete_outline</mat-icon>
          </button>
          <button mat-button class="toolbar-button" color="primary" matTooltip="Add" type="button" [disabled]="!isEditable_linked" aria-labelledby="Add" (click)="addRecord(data['tableName'])">
            <span>Add</span>
            <mat-icon>add_circle_outline</mat-icon>
          </button>
            <button mat-button class="toolbar-button" *ngIf="data.tableName==='resources_timewindows'" color="primary" matTooltip="Add" type="button" [disabled]="!isEditable_linked" aria-labelledby="Add or Delete All" (click)="addDeleteAllRecords()">
                <span>{{ addDeleteAllString() }}</span>
                <mat-icon *ngIf="addDeleteAllString()==='Add All'">add_circle_outline</mat-icon>
                <mat-icon *ngIf="addDeleteAllString()==='Delete All'">remove_circle_outline</mat-icon>
            </button>
          <p>&nbsp;</p>
      </ng-container>
  </kt-portlet-header>
  <kt-portlet-body>
    <div class="mat-table__wrapper mat-table__wrapper--sub" [formGroup]="form">
         <mat-table #table table [dataSource]="dataModelDataSource" matSort>
            <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef>S/N</th>
                <td mat-cell *matCellDef="let element; let i = index;" >{{ i + 1 }}</td>
            </ng-container>
            <ng-container *ngFor="let column of headers_linkedModel" matColumnDef="{{ column.columnName }}">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.control_type==='button'? null: column.displayName }}</th>
                <td mat-cell *matCellDef="let element; let i = index;">
                    <mat-form-field class="mat-form-field-fluid" *ngIf="column.control_type==='textbox'&&element.hasOwnProperty(column.columnName)">
                      <input matInput value="{{ element[column.columnName] }}" [type]="(column.column_type==='numeric'?'number':'text')" *ngIf="column.control_type==='textbox'" [formControlName]="element['record_id'] + column.columnName" [readonly]="!column.is_editable" placeholder="Please enter {{column.displayName}}" autocomplete="off" (change)="ValueChange(element,column.columnName,$event.target.value)">
                      <mat-error *ngIf="isControlHasError(element['record_id'] + column.columnName,'required')">
                        <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                      </mat-error>
                      <mat-error *ngIf="form.controls[element['record_id'] + column.columnName].hasError('required')&&form.controls[element['record_id'] + column.columnName].touched">
                        <strong>{{ column.columnName }} is not unique</strong>
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="mat-form-field-fluid" *ngIf="column.control_type==='calendar'&&element.hasOwnProperty(column.columnName)">
                      <input matInput [owlDateTimeTrigger]="picker" [owlDateTime]="picker" placeholder="Please enter {{ column.displayName }}" [formControlName]="element['record_id'] + column.columnName" [value]="convertStringToDate(element[column.columnName])" (dateTimeInput)="ValueChange(element,column.columnName,$event.value._d,'datetimepicker')">
                      <owl-date-time #picker></owl-date-time>
                      <mat-error>
                        <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                      </mat-error>
                      <!--<input matInput [matDatepicker]="picker" placeholder="Please enter {{ column.displayName }}" [value]="convertStringToDate(element[column.columnName])" autocomplete="off">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>-->
                    </mat-form-field>
                    <mat-form-field class="mat-form-field-fluid" *ngIf="column.control_type==='dropdownlist'&&column.columnName==='resourceId'&&element.hasOwnProperty(column.columnName)">
                      <mat-select placeholder = "Please enter {{ column.displayName }}" [value]="element[column.columnName]" [formControlName]="element['record_id'] + column.columnName" (selectionChange)="ValueChange(element,column.columnName,$event)">
                        <mat-option *ngFor = "let resource of resourceDDL" [value] = "resource.resourceId">
                            {{resource.resourceName}} ({{resource.resourceId}})
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="isControlHasError(element['record_id'] + column.columnName,'required')">
                        <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                      </mat-error>
                  </mat-form-field>
                  <mat-form-field class="mat-form-field-fluid" *ngIf="column.control_type==='dropdownlist'&&column.columnName==='serviceId'&&element.hasOwnProperty(column.columnName)">
                      <mat-select placeholder = "Please enter {{ column.displayName }}" [value]="element[column.columnName]" [formControlName]="element['record_id'] + column.columnName" (selectionChange)="ValueChange(element,column.columnName,$event, 'dropdownlist')">
                        <mat-option *ngFor = "let service of serviceDDL" [value] = "service.serviceId">
                          {{service.serviceName}} ({{service.serviceId}})
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="isControlHasError(element['record_id'] + column.columnName,'required')">
                        <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                      </mat-error>
                  </mat-form-field>
                  <mat-form-field class="mat-form-field-fluid" *ngIf="column.control_type==='dropdownlist'&&column.columnName==='timeWindowId'&&element.hasOwnProperty(column.columnName)">
                    <mat-select placeholder = "Please enter {{ column.displayName }}" [value]="element[column.columnName]" [formControlName]="element['record_id'] + column.columnName" (selectionChange)="ValueChange(element,column.columnName,$event, 'dropdownlist')">
                      <mat-option *ngFor = "let timewindow of unselectedTimeWindows(element)" [value] = "timewindow.timeWindowId">
                        {{timewindow.timeWindowName}} ({{timewindow.timeWindowId}})
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="isControlHasError(element['record_id'] + column.columnName,'required')">
                      <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                    </mat-error>
                </mat-form-field>
                <mat-checkbox [disableRipple]="true" [checked]="element[column.columnName] === 'true'" *ngIf="column.control_type==='checkbox'" (change)="ValueChange(element,column.columnName,$event,column.control_type)">
                </mat-checkbox>
                </td>
              </ng-container>
             <ng-container matColumnDef="select">
                 <th mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
                     <mat-checkbox
                         (change)="$event ? selectAllToggle() : null"
                         [checked]="selection.hasValue() && isAllSelected()"
                         [indeterminate]="selection.hasValue() && !isAllSelected()"
                         [aria-label]="checkboxLabel()"
                     ></mat-checkbox>
                 </th>
                 <td mat-cell *matCellDef="let element" class="mat-column-checkbox">
                     <mat-checkbox
                             [checked]="selection.isSelected(element)"
                             [color]="'primary'"
                             [disabled]="!isEditable_linked"
                             (change)="$event ? selection.toggle(element) : null"
                             (click)="$event.stopPropagation()"
                             [aria-label]="checkboxLabel(element)"
                     ></mat-checkbox>
                 </td>
             </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns_linked"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns_linked; let i = index"></tr>
         </mat-table>
         <div class="mat-table__message" *ngIf="dataModelDataSource.data.length===0">No records found</div><!-- Message for empty data  -->
        </div>
  </kt-portlet-body>
</kt-portlet>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="row col-md-12">
          <div class="col-md-10">
          </div>
          <div class="col-md-2">
              <button mat-button class="btn btn-bold btn-label-brand btn-sm" [disabled]="!form.valid" style="float: right;" color="primary" matTooltip="Done" type="button" aria-labelledby="Done" (click)="closeDialog()" style="float: right;"><span>Done</span></button>
        </div>
    </div>
  </mat-dialog-actions>

